<ul>
  <% gists.each(function (gist) { %>
    <li>
      <a href="#<%= gist.get('id') %>">
        <%= gist.escape("title") %>
      </a>
    </li>
  <% }); %>
</ul>

<a href="#/new">Create New Gist</a>